ul li button[aria-selected="true"]
{
    background-color: var(--color-main-text) !important;
    color: var(--color-main-white) !important;
    fill: var(--color-main-white) !important;
}

#accordion-collapse [aria-expanded="false"] {
    color: var(--color-main-text);
}
#accordion-collapse [aria-expanded="true"] {
    background-color: var(--color-main-green);
    color: var(--color-main-white);
}
#accordion-collapse [aria-expanded="true"] svg {
    rotate: 0deg;
}