/* global */

@media screen and (min-width:1024px) {
    .home-top-nav .navbar-item {
    position: relative !important;
 }
.home-top-nav .navbar-item:before {
     content: "";
    position: absolute;
    background-color: #08c261;
    width: 0;
    height: 3px;
    border-radius: 8px;
    bottom: -5px;
    left: 0;
    right: 0;
    margin: auto;
    transition: width .3s;
 }
.home-top-nav .navbar-item:hover:before,
.home-top-nav .navbar-item.active:before {
    width: 30% !important;
}
}
.hero-section .indicator-btn{
background-color: transparent !important;
cursor: pointer;
}
.hero-section .indicator-btn[aria-current="true"] {
background-color: var(--color-main-green) !important;
}
.hero-section .indicator-btn[aria-current="false"] {
    border: 2px solid var(--color-main-green);
}
.main-sub-dropdown {
    transform: translate(0,0) !important;
    inset: auto !important;
}
@media screen and (min-width:1024px) {
    .main-sub-dropdown {
        transform: translateX(-105%) !important;
        inset: 0 auto auto 0 !important;
    }
}
.main-dropdown-list li:first-child :is(button,a) {
border-top-right-radius: 8px;
border-top-left-radius: 8px;
}
.main-dropdown-list li:last-child :is(button,a) {
border-bottom-right-radius: 8px;
border-bottom-left-radius: 8px;
}
.scroll-bar-style::-webkit-scrollbar {
  height: 6px;   
  width: 6px;    
}
@media screen and (min-width:768px) {
    
}
.scroll-bar-style::-webkit-scrollbar-thumb {
  background-color: var(--color-main-green);  
  border-radius: 9999px;      
}
.scroll-bar-style::-webkit-scrollbar-track {
  background: #e5e7eb;  
  border-radius: 9999px;
}

.scroll-bar-style {
  scrollbar-width: thin;            
  scrollbar-color: var(--color-main-green) #e5e7eb; 
}

/* main navbar */
.navbar-scrolled {
  background-color: white;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

.navbar-scrolled ul li :is(a,button) {
color: var(--color-main-green) !important;
}
.navbar-scrolled .mobile-btn {
    color: var(--color-main-green);
}
