@import "tailwindcss";
@theme {
    --color-main-text:#1c4e90;
    --color-main-green:#08c261;
    --color-main-white:#fefefe;
    --color-main-gray:#a5a5a5;
    --spacing-section-padding: 60px;
    --spacing-main-container-padding:15px;
    --text-title-size:2.25rem;
    --text-subtitle-size:1.25rem;
}
.dropdown-menu {
  @apply z-10 hidden absolute bg-white divide-y divide-gray-100 rounded-lg shadow-sm mt-2 left-0 top-0;
}
@layer base {
  .container {
  @apply mx-auto px-4
    sm:!max-w-2xl
    md:!max-w-3xl
    lg:!max-w-[960px]
    xl:!max-w-[1200px]
    2xl:!max-w-[1380px];
}
.container-xs {
  @apply mx-auto px-4
    md:!max-w-2xl    
}
  .container-sm {
  @apply mx-auto px-4
    md:!max-w-2xl
    lg:!max-w-[850px]
    xl:!max-w-[1100px]
    2xl:!max-w-[1250px];
}
  .container-xl {
  @apply mx-auto px-4
    md:!max-w-2xl
    lg:!max-w-[950px]
    xl:!max-w-[1280px]
    2xl:!max-w-[1450px];
}

.section-with-green-wave {
  @apply py-32 my-32
}
.text-5xl {
  @apply leading-16
}
}

