@import "tailwindcss";
@theme {
    --color-main-text:#1c4e90;
    --color-main-green:#08c261;
    --color-main-white:#fefefe;
}
.dropdown-menu {
  @apply z-10 hidden absolute bg-white divide-y divide-gray-100 rounded-lg shadow-sm mt-2 left-0 top-0;
}