.article-content h1,
.article-content h2,
.article-content h3,
.article-content h4,
.article-content h5,
.article-content h6 {
  color: var(--color-main-text);
  font-weight: 700;
  font-size: 1.4375rem;
}

/* ألوان الفقرات */
.article-content p,
.article-content ul,
.article-content ol {
  color: color-mix(in oklab, var(--color-main-gray) 80%, transparent); ;
  line-height: 1.8;
  font-size: 1.50rem;
  font-weight: 300;
}

/* القوائم */
.article-content ul,
.article-content ol {
  color: var(--color-main-gray);
  padding-inline-start: 1.1875rem;
}
.article-content ol ::marker {
  color: var(--color-main-text) !important;
}
.article-content ul {
  list-style-type: disc;
}

.article-content ol {
  list-style-type: decimal;
}